js/n8n-workflow.json
{
  "name": "GF Carousel - AI Text Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "carousel-text-generator",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "carousel-text-generator"
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming data from the carousel app\nconst body = JSON.parse($input.first().json.body);\n\nconst slideCount = body.slideCount || 3;\nconst sources = body.sources || [];\nconst language = body.options?.language || 'en';\n\n// Extract text content from sources\n// For PDFs and images, we'll pass them to Claude for analysis\nlet sourceDescriptions = [];\nlet imageData = [];\n\nfor (const source of sources) {\n  if (source.type === 'application/pdf') {\n    sourceDescriptions.push(`PDF Document: ${source.name}`);\n    // Store base64 data for Claude\n    imageData.push({\n      type: 'document',\n      name: source.name,\n      data: source.data.split(',')[1], // Remove data URL prefix\n      mediaType: 'application/pdf'\n    });\n  } else if (source.type.startsWith('image/')) {\n    sourceDescriptions.push(`Image: ${source.name}`);\n    imageData.push({\n      type: 'image',\n      name: source.name,\n      data: source.data.split(',')[1], // Remove data URL prefix\n      mediaType: source.type\n    });\n  }\n}\n\nreturn {\n  json: {\n    slideCount,\n    language,\n    sourceDescriptions,\n    imageData,\n    sourcesCount: sources.length\n  }\n};"
      },
      "id": "parse-input",
      "name": "Parse Input Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst slideCount = input.slideCount;\nconst imageData = input.imageData || [];\n\n// Build the content array for Claude\nlet content = [];\n\n// Add images/documents first\nfor (const item of imageData) {\n  if (item.type === 'image') {\n    content.push({\n      type: 'image',\n      source: {\n        type: 'base64',\n        media_type: item.mediaType,\n        data: item.data\n      }\n    });\n  } else if (item.type === 'document') {\n    content.push({\n      type: 'document',\n      source: {\n        type: 'base64',\n        media_type: item.mediaType,\n        data: item.data\n      }\n    });\n  }\n}\n\n// Add the text prompt\nconst prompt = `You are an expert social media content creator specializing in Instagram carousels for a technology consultancy company called GF Innovative Solutions.\n\nAnalyze the provided content (news articles, documents, or images) and create text for an Instagram carousel with exactly ${slideCount} slides.\n\nYou must generate THREE different versions of the carousel, each with a different tone:\n\n1. **Professional** - Formal, authoritative, corporate tone. Uses precise language and industry terminology. Suitable for B2B audiences.\n\n2. **Engaging** - Dynamic, captivating, enthusiastic tone. Uses action words, may include relevant emojis sparingly. Creates excitement and curiosity.\n\n3. **Concise** - Short, punchy, impactful. Each slide should be brief but memorable. Perfect for quick consumption.\n\nFor each version, create exactly ${slideCount} slides. Each slide text should:\n- Be suitable for an Instagram carousel (readable on mobile)\n- Be 1-3 sentences maximum\n- Work as part of a coherent story/flow across slides\n- First slide should hook the reader\n- Last slide should have a call-to-action or memorable conclusion\n\nRespond with ONLY valid JSON in this exact format (no markdown, no explanation):\n{\n  \"options\": [\n    {\n      \"tone\": \"professional\",\n      \"label\": \"Professional\",\n      \"description\": \"Formal and authoritative tone\",\n      \"slides\": [\n        {\"slideNumber\": 1, \"text\": \"Your slide 1 text here\"},\n        {\"slideNumber\": 2, \"text\": \"Your slide 2 text here\"}\n      ]\n    },\n    {\n      \"tone\": \"engaging\",\n      \"label\": \"Engaging\",\n      \"description\": \"Dynamic and captivating tone\",\n      \"slides\": [\n        {\"slideNumber\": 1, \"text\": \"Your slide 1 text here\"},\n        {\"slideNumber\": 2, \"text\": \"Your slide 2 text here\"}\n      ]\n    },\n    {\n      \"tone\": \"concise\",\n      \"label\": \"Concise\",\n      \"description\": \"Short and punchy tone\",\n      \"slides\": [\n        {\"slideNumber\": 1, \"text\": \"Your slide 1 text here\"},\n        {\"slideNumber\": 2, \"text\": \"Your slide 2 text here\"}\n      ]\n    }\n  ]\n}`;\n\ncontent.push({\n  type: 'text',\n  text: prompt\n});\n\nreturn {\n  json: {\n    content,\n    slideCount\n  }\n};"
      },
      "id": "build-prompt",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "model": "claude-sonnet-4-20250514",
        "maxTokens": 4096,
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "anthropic-claude",
      "name": "Anthropic Claude",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [900, 300],
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_ANTHROPIC_CREDENTIALS_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude's response and ensure valid JSON\nconst response = $input.first().json;\n\nlet outputText = '';\n\n// Handle different response structures\nif (response.message?.content) {\n  // Standard message response\n  if (Array.isArray(response.message.content)) {\n    outputText = response.message.content\n      .filter(block => block.type === 'text')\n      .map(block => block.text)\n      .join('');\n  } else {\n    outputText = response.message.content;\n  }\n} else if (response.content) {\n  // Direct content\n  if (Array.isArray(response.content)) {\n    outputText = response.content\n      .filter(block => block.type === 'text')\n      .map(block => block.text)\n      .join('');\n  } else {\n    outputText = response.content;\n  }\n} else if (typeof response === 'string') {\n  outputText = response;\n}\n\n// Clean up the response - remove markdown code blocks if present\noutputText = outputText\n  .replace(/```json\\n?/g, '')\n  .replace(/```\\n?/g, '')\n  .trim();\n\ntry {\n  const parsed = JSON.parse(outputText);\n  \n  // Validate structure\n  if (!parsed.options || !Array.isArray(parsed.options) || parsed.options.length !== 3) {\n    throw new Error('Invalid response structure: expected 3 options');\n  }\n  \n  // Validate each option has slides\n  for (const option of parsed.options) {\n    if (!option.slides || !Array.isArray(option.slides)) {\n      throw new Error('Invalid option structure: missing slides array');\n    }\n  }\n  \n  return {\n    json: parsed\n  };\n} catch (error) {\n  // Return error response\n  return {\n    json: {\n      error: true,\n      message: `Failed to parse response: ${error.message}`,\n      rawResponse: outputText.substring(0, 500)\n    }\n  };\n}"
      },
      "id": "parse-response",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input Data": {
      "main": [
        [
          {
            "node": "Build Claude Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Prompt": {
      "main": [
        [
          {
            "node": "Anthropic Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Claude": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "gf-carousel-generator"
  },
  "pinData": {},
  "tags": [
    {
      "id": "1",
      "name": "GF Innovative Solutions"
    },
    {
      "id": "2", 
      "name": "AI"
    },
    {
      "id": "3",
      "name": "Instagram"
    }
  ]
}
